*{ margin-left:0px; margin-top:0px;margin-bottom:0px;}
header{height:80px; width:100%;background-color:black; line-height:70px;
           text-align:center;color:orange; position:fixed; display:block;}
body{background-color:orange; }
header img{float:left; margin-left:40px;}
h1{font-size:50px; margin-left:450px; position:absolute;}
footer{height:40px; background-color:black;position:absolute;width:100%;margin-top:800px;}